<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @example.title %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @example.comment %>
</p>

<%= link_to 'Edit', edit_example_path(@example) %> |
<%= link_to 'Back', examples_path %>
